/*
$colors: (
  primary:    #F6A67B,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  theme:      #FC8585,
  dark-theme: #E61243
);
*/

.input {
    width: 80%;
    font-size: 60px;
  }

.inputbtn {
	width: 80%;
}

.alignleft {
	text-align: right;
}

.datepicker {
	width: 80%;
	font-size: 20px;
	border-color: #fc8585;
}

.img-circle {
    border-radius: 50%;
}

.smallfont {
	font-size: 13px;
}

.largefont {
	font-size: 20px;
}

.customheader {
	font-size: 40px;
	color: #E61243;
	font-weight: 2;
}

.card {
	margin: 12px; 
	box-shadow: 0 1px 4px rgba(0,0,0,0.2); 
	background-color: white; 
	height: 200px;
	overflow:scroll;
}


.addform {
	margin: 2px; 
	box-shadow: 0 1px 4px rgba(0,0,0,0.2); 
	background-color: white; 
	padding: 10px;
}


.customheader2 {
	font-size: 50px;
	color: #E61243;
	font-weight: 2;
}

